version: "3.8"

services:
  nginx:
    image: nginx:1.25-alpine
    networks:
      - localNetwork
    ports:
      - "8001:80"
    volumes:
      - ./nginx-local/nginx.local-cors.conf:/etc/nginx/conf.d/default.conf

networks:
  localNetwork:
    name: ecommerce1-local
